.usydiv {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.usyclickdiv {
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    display: inline-flex;
    align-items: inherit;
    justify-content: inherit;
    cursor: pointer;
    margin: -8px;
    height: 35px;
    transition: background-color .15s ease-out;
    border-radius: 25px;
}

.usyclickdiv:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.usyclickdiv:hover button svg {
    fill: rgb(29, 155, 240);
}

.usyclickdiv:active {
    background-color: rgba(29, 155, 240, 0.2);
}

.usyclickdiv:active button svg {
    transition: fill 0.15s ease-out;
    fill: rgb(17, 149, 236);
}

.usybutton {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;

    display: inline-flex;
    vertical-align: middle;
    padding: 0px 10px;
    line-height: 1;
}

.usybutton svg {
    margin: auto;
    align-self: center;
    max-width: 100%;
    width: 1.5em;
    height: 1.5em;
    fill: rgb(113, 118, 123);
}

.usyimagediv {
    align-items: right;
    justify-content: right;
}